*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    /*color variables*/
    --main-background: hsl(47, 88%, 63%);
    --content-color:hsl(0, 0%, 42%);
}

body{
    margin: 0;
    background-color: var(--main-background);
    font-family: 'FigTree', sans-serif;
    font-size: clamp(0.9rem,2vw, 1rem); /*1 rem = 16px*/
}

/*Main content*/
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Card container*/
.card{
    width: 17.5rem;
    height: 27.5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding:20px;
    box-shadow:7px 7px black;
}

/*Image*/
.img{
    border-radius: 10px;
    width:15rem; 
}
/*info container under the image*/
.info{
    margin-top: 1.25rem;
}

.info > .subinfo{
    font-weight: 800;
    background-color:  var(--main-background);
    padding:5px 8px;
    border-radius: 5px;
}

.info > .publication{
 margin-top: 1.56rem;
}

.title_and_content > .title{
    font-size:1.25rem;
    font-weight: 800;
}

/*title and paragraph*/
.title_and_content> .title:hover{
    color:  var(--main-background);
    cursor:pointer;
}

.title_and_content > .content{
    font-weight: 500;
    color: var(--content-color);
}

/*Publisher profile pic and name*/
.publisher{
    margin-top: 1rem; 
    display: flex;
    align-items: center;
}

.publisher > .profile_pic{
    width: 1.75rem; 
}

.publisher > .publisher_name{
    margin-left: 0.6rem; 
    font-weight: 800;
}

@media(min-width:40rem){
    .card{
        width:21.25rem;
        height: 31.35rem;
    }

    .img{
        width: 18.75rem;
    }

    .info > .subinfo{
        padding: 7px 15px;
    }

    .title_and_content > .title{
        font-size: 1.45rem;
    }

    .publisher{
        margin-top: 1.56rem;
    }

    .publisher > .profile_pic{
        width: 2rem;
    }
}