*{
    box-sizing: border-box;
}

body{
    margin: 0;
    /*color variables*/
    --main-background: hsl(47, 88%, 63%);
    --content-color:hsl(0, 0%, 42%);
    background-color: var(--main-background);
    font-family: 'FigTree', sans-serif;
    font-size: clamp(0.9rem,2vw, 1rem); /*1 rem = 16px*/
}

.header_container{
    /*45px*/
    height: 2.8125rem;
}

/*Main content*/
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Card container*/
.card{
    width: 21.25rem; /*340px*/
    height: 31.25rem; /*500px*/
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding:20px;
    box-shadow:7px 7px black;
}

/*Image*/
.img{
    border-radius: 10px;
    width:18.75rem; /*300px*/
}

/*info container under the image*/
.info{
    margin-top: 1.25rem;
}

.info > .subinfo{
    font-weight: 800;
    background-color:  var(--main-background);
    padding: 7px 15px;
    border-radius: 5px;
}

.info > .publication{
 margin-top: 1.56rem;/*25px*/
}

.title_and_content > .title{
    font-size: clamp(1.25rem, 2vw, 1.45rem);
    font-weight: 800;
}

/*title and paragraph*/
.title_and_content> .title:hover{
    color:  var(--main-background);
    cursor:pointer;
}

.title_and_content > .content{
    font-weight: 500;
    color: var(--content-color);
}

/*Publisher profile pic and name*/
.publisher{
    margin-top: 1.56rem; /*25px*/
    display: flex;
    align-items: center;
}

.publisher > .profile_pic{
    width: 2.19rem; /*35px*/
}

.publisher > .publisher_name{
    margin-left: 0.6rem; /*10px*/
    font-weight: 800;
}

